<ion-view>
    <ion-header class="courseHeader">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="More" ng-click="goBack()">
                    <md-icon md-svg-icon="img/back.svg"></md-icon>
                </md-button>
                <span flex></span>
                
                <md-menu md-position-mode="target-right target">
			      <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu()">
			        <md-icon md-svg-icon="img/more_vert.svg"></md-icon>
			      </md-button>
			      <md-menu-content width="4">
			        <md-menu-item>
			          <md-button ng-click="openSettings()">
			            Settings
			          </md-button>
			        </md-menu-item>
					<md-menu-item>
			          <md-button ng-click="openAbout()">
			            About
			          </md-button>
			        </md-menu-item>
			      </md-menu-content>
			    </md-menu>
                
            </div>
        </md-toolbar>
        
        <md-tabs md-stretch-tabs md-selected="selectedIndex">
            <md-tab ng-class="{active: selectedIndex==0}">
                <a href="#/course/{{courseId}}/content">C</a> 
            </md-tab>
            <md-tab>
                <a href="#/course/{{courseId}}/announcement">A</a>
            </md-tab>
            <md-tab>
                <a href="#/course/{{courseId}}/resource">R</a>
            </md-tab>
            <md-tab>
                <a href="#/course/{{courseId}}/forum">F</a>
            </md-tab>
            <md-tab>
                <a href="#/course/{{courseId}}/chat">H</a>
            </md-tab>
        </md-tabs>
        
    </ion-header>
    
	<ion-content class="has-header courseContent">
        <ion-nav-view name="main" class="tabView"></ion-nav-view>
        <ion-nav-view name="lecture" class="tabView"></ion-nav-view>        
	</ion-content>
</ion-view>