<ion-view>
	<ion-content>
		<md-list>
			<div ng-repeat="resource in resources">
				<md-list-item class="md-2-line" ng-click="goToResource(resources.indexOf(resource))">
					<div class="md-list-item-text">
						<h3 style="line-height: 1.2em;">{{resource.resource_title}}</h3>
						<md-icon class="md-secondary" aria-label="" md-svg-src="img/download.svg" ng-if="resource.filename!=null" ng-click="downloadResource(resource.filename)"></md-icon>
					</div>
				</md-list-item>
				<md-list-item ng-show="expandResource[resources.indexOf(resource)]" ng-class="{activeWeek: expandResource[resource[0].resource]}">
	                <md-icon md-svg-src="img/listborder.svg"></md-icon>
	                <p ng-bind-html="resource.body_value"></p>
              	</md-list-item>
				<md-divider></md-divider>
			</div>
		</md-list>
	</ion-content>
</ion-view>