<md-content>
    <md-list-item class="md-3-line">
        <img ng-src="img/ionic.png" class="md-avatar" />
        <div class="md-list-item-text">
            <h3>You from the future</h3>
            <p>Hey there! How long since you slept?</p>
        </div>
    </md-list-item>
    <md-divider></md-divider>
	  
    <md-list-item class="md-3-line yourMsg">
        <div class="md-list-item-text">
            <h3>You</h3>
            <p>Testing my limits.</p>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    
    <md-list-item class="md-3-line">
        <img ng-src="img/ionic.png" class="md-avatar" />
        <div class="md-list-item-text">
            <h3>Cookie Dude</h3>
            <p>Visions!</p>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    
    <md-list-item class="md-3-line">
        <img ng-src="img/ionic.png" class="md-avatar" />
        <div class="md-list-item-text">
            <h3>You from the future</h3>
            <p>LOL :P</p>
        </div>
    </md-list-item>
    <md-divider></md-divider>
	  
</md-content>