<ion-view>
	<ion-header>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" aria-label="More" ng-click="logout()">
		          <md-icon md-svg-icon="img/logout.svg"></md-icon>
		        </md-button>
				
				<span class="heading" flex>Dashboard</span>
				
				<md-menu md-position-mode="target-right target">
			      <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu()">
			        <md-icon md-svg-icon="img/more_vert.svg"></md-icon>
			      </md-button>
			      <md-menu-content width="4">
			        <md-menu-item>
			          <md-button ng-click="openSettings()">
			            Settings
			          </md-button>
			        </md-menu-item>
					<md-menu-item>
			          <md-button ng-click="openAbout()">
			            About
			          </md-button>
			        </md-menu-item>
			      </md-menu-content>
			    </md-menu>
				
				
			</div>
		</md-toolbar>
	</ion-header>
	<ion-content class="has-header">
		<ion-refresher pulling-text="Pull to refresh" on-refresh="getCourses()"></ion-refresher>
		
		<div class="dashProfile">
			<div class="dashPic col col-33 col-offset-33">
				<img ng-src="{{avatar}}">
			</div>
			<div class="dashName">
				{{firstname}} {{lastname}}
			</div>
			<div class="dashNick">
				@{{username}}
			</div>
			
			<div class="row">
				<div class="dashTopics col-50" ng-click="openTopics()">
					<p>7</p>
					TOPICS
				</div>
				<div class="dashDiscussions col-50" ng-click="openDiscussions()">
					<p>1</p>
					DICUSSIONS
				</div>
			</div>
		</div>
		
		<!--Main Content-->
		<div ng-repeat="course in courses">
			
			<div class="card">
				<a href="#/course/{{course.id}}/content"><div class="item item-thumbnail-left item-text-wrap">
					<img src="img/mooconmooc.png" class="col col-25">
					<div class="col col-offset-10 col-65 dashCourseTitle">{{course.title}}</div>
					<div class="col col-offset-10 col-65 dashCourseInst">by {{course.instructor}}</div>
				</div></a>
				<div class="row dashCourseDetails">
					<md-button class="tab-item md-icon-button" aria-label="More" ng-click="toggleFav(course.id)">
			          <md-icon md-svg-icon="img/{{isFav(course.id)}}.svg"></md-icon>
			        </md-button>
					<md-button class="tab-item md-icon-button" aria-label="More">
			          <md-icon md-svg-icon="img/seen.svg"></md-icon>
					  {{course.views}}
			        </md-button>
				</div>
			</div>
			
		</div>
	</ion-content>
</ion-view>