<ion-view>
	<ion-content>
		<md-list>
			<md-list-item class="md-2-line">
				<img ng-src="{{translateLink(forum.authorAvatar)}}" class="md-avatar">
				<div class="md-list-item-text">
					<div ng-bind-html="'<b>' + forum.topic + '</b>'"></div>
					<div ng-bind-html="forum.description"></div>
				</div>
				<md-divider></mdidivider>
			</md-list-item>
			<br><br><br>
			<md-list-item class="md-2-line" ng-repeat="comment in comments">
				<img ng-src="{{translateLink(comment.avatar)}}" class="md-avatar">
				<div class="md-list-item-text">
					<div ng-bind-html="comment.text"></div>
				</div>
				<md-divider></mdidivider>
			</md-list-item>	
		</md-list>
	</ion-content>
</ion-view>