<ion-view>
	<ion-content>
		<md-list>
			<div >
			<md-list-item class="md-2-line" ng-click="openForum(subscribedForum.tid)" collection-repeat="subscribedForum in subscribedForums">
				<img ng-src="{{translateLink(subscribedForum.authorAvatar)}}" class="md-avatar">
				<div class="md-list-item-text">
		          <h3 style="line-height: 1em;">{{subscribedForum.topic}}</h3>
		          <p>by {{subscribedForum.authorName}}</p>
		        </div>
				<md-divider></md-divider>
			</md-list-item>
			</div>
		</md-list>
	</ion-content>
</ion-view>