<ion-view>
	<ion-content>
		<md-list>
			<md-list-item class="md-2-line" ng-click="openForum(generalForum, generalForum.tid)" collection-repeat="generalForum in generalForums">
				<img ng-src="{{translateLink(generalForum.authorAvatar)}}" class="md-avatar">
				<div class="md-list-item-text">
		          <h3 style="line-height: 1.2em;">{{generalForum.topic}}</h3>
		          <p>by {{generalForum.authorName}}</p>
		        </div>
			<md-divider></md-divider>
			</md-list-item>
		</md-list>
	</ion-content>
</ion-view>