<ion-view>
<ion-content class="login" scroll="false">
	<img src="img/logo.svg" class="col col-33 col-offset-33 loginLogo">
	<div class="loginInput col col-offset-33 col-33">
		<md-input-container class="loginUsername">
			<label>Username</label>
			<input type="text" ng-model="username">
		</md-input-container>
		
		<md-input-container class="loginPassword">
			<label>Password</label>
			<input type="password" ng-model="password">
		</md-input-container>
	</div>
	
	<div layout="row" layout-sm="column" layout-align="center center">
		<md-button class="loginBtn" ng-click="login(username,password)" ng-class="{'loginBtnError': loginError, 'loginBtn': !loginError}">
			{{loginText}}
		</md-button>
		<md-button class="signUpBtn" ng-click="signUp()">
			Sign Up
		</md-button>
	</div>
</ion-content>
</ion-view>