<md-dialog aria-label="Settings">
    <md-toolbar class="settings">
        <div class="md-toolbar-tools">
            <h2>Settings</h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-switch class="md-primary">
            Dummy Setting 1
        </md-switch class="md-primary">
        <md-switch>
            Dummy Setting 2
        </md-switch>
        <md-switch class="md-primary">
            Dummy Setting 3
        </md-switch>
        <md-switch class="md-primary">
            Dummy Setting 4
        </md-switch>
        <md-switch class="md-primary">
            Dummy Setting 5
        </md-switch>
    </md-dialog-content>
    
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="save()" class="md-primary">
            Save
        </md-button>
    </div>
</md-dialog>