<ion-header class="hasTitleBar">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="More" ng-click="goBack()">
	          <md-icon md-svg-icon="img/back.svg"></md-icon>
	        </md-button>
		</div>
	</md-toolbar>
</ion-header>
<ion-content class="has-header login">
	<form name="signupForm" class="signupForm col-50 col-offset-25">
		<md-input-container>
	      <label>First name</label>
	      <input type="text" ng-model="fname">
	    </md-input-container>
		
		<md-input-container>
	      <label>Last name</label>
	      <input type="text" ng-model="lname">
	    </md-input-container>
		
		<md-input-container>
	      <label>Username</label>
	      <input type="text" ng-model="username">
	    </md-input-container>
		
		<md-input-container>
	      <label>E-mail address</label>
	      <input type="text" ng-model="email">
	    </md-input-container>
	</form>
	
	<div layout="row" layout-sm="column" layout-align="center center">
		<md-button class="loginBtn" ng-click="signup(fname,lname,username,email)">
			Sign Up
		</md-button>
	</div>
    
</ion-content>