@font-face{
    font-family: 'RobotoBold';
    src: url('fonts/Roboto-Bold.ttf')
}

@font-face{
    font-family: 'RobotoLight';
    src: url('fonts/Roboto-Light.ttf')
}

@font-face{
    font-family: 'RobotoRegular';
    src: url('fonts/Roboto-Regular.ttf')
}

body {
    padding: 0;
    margin: 0;
    font-family: 'RobotoLight';
    overflow: hidden;
    outline: 0;
}

/*
    ANIMATIONS
*/

.cardOpen-appear{
    animation: cardOpen 0.3s;
    -webkit-animation: cardOpen 0.3s;
}

@keyframes cardOpen {
    from {
        opacity: 0;
        transform: translateY(100vh);
        -webkit-transform: translateY(100vh);
    }
}

.topics-appear{
    animation: cardAnim 0.3s;
    -webkit-animation: cardAnim 0.3s;
}

.topicsOpen-appear{
    animation: topicOpenAnim 0.3s;
    -webkit-animation: topicOpenAnim 0.3s;
}

@keyframes topicOpenAnim {
    from {
        transform: translateY(100vh);
    }
}

@-webkit-keyframes topicOpenAnim {
    from {
        -webkit-transform: translateY(100vh);
    }
}

@keyframes flyInFromBottom {
    0%{
        opacity: 0;
        transform: translateY(100vh);
    }
    100%{
        opacity: 1;
    }
}

@-webkit-keyframes flyInFromBottom {
    0%{
        opacity: 0;
        -webkit-transform: translateY(100vh);
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
